[Unit]
Description=Axum Demo Service

[Service]
Type=simple
User=root
Group=root
Restart=always
WorkingDirectory=/home/demo/app/
ExecStart=/home/demo/app/demo
Nice=19
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
